<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>inova-api-java-motor-carters.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>inova-api-java-motor-carters.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="LOGSTASH"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<waitStrategyType>blocking</waitStrategyType>
		<destination>r-elastic.riachuelo.net:5045</destination>
		<!-- encoder is required -->
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<mdc />
				<context />
				<version />
				<logLevel />
				<loggerName />

				<pattern>
					<pattern>
						{
						"appName": "inova-api-java-motor-carters",
						"appVersion": "0.1"
						}
					</pattern>
				</pattern>

				<threadName />
				<message />

				<logstashMarkers />
				<arguments />

				<stackTrace/>
			</providers>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
	</appender>

	<root level="INFO">
		<appender-ref ref="ASYNC" />
		<appender-ref ref="LOGSTASH" />
	</root>
	<logger name="org.springframework" level="INFO" />
</configuration>